@media all and (min-width: 1024px) {
  .input-forms {
    padding: 40px;

    input{
      width: 30vw;
    }
  }

}
@media all and (max-width: 1024px) {
  .input-forms {
    padding: 30px;

    input{
      width: 50vw;
    }
  }
}

.signup-wrapper {
  margin-top: 0rem;
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
  .input-forms {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    .input-label {
      font-size: 1.5rem;
      font-weight: bold;
      color: #282c34;
    }

    .input-forms-item {
      padding: 10px 0;
      
      .error-message {
        font-size: 1rem;
        color: blue;
        font-weight: bold;
      }
    }
  }
}